@using Domain.DTOs;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cart";
    var detailOrder = ViewData["detailOrder"] as List<DetailOrderDto>;
}

<style>
    label {
        margin: 0;
    }

    body {
        background: #f0f0f0 !important;
    }

    #content {
        padding-top: 80px;
        background: #f0f0f0 !important;
    }

    #footer {
        display: none;
    }

    div.user__cart {
        width: 600px;
        margin: 0 auto;
    }

    .detail__cart {
        padding: 12px 24px;
    }

    .product__info {
        background: transparent;
        padding: 16px 0;
        margin: 0;
        border-radius: 0;
        border-bottom: 2px solid #ddd;
    }

    .product__info:hover {
        box-shadow: none;
    }

    .detail__cart {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }

    .cart__title p {
        text-align: right;
        font-size: 1.4rem;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    .product__price {
        font-weight: bold;
        padding: 0;
        color: #000;
        font-size: 1.5rem;
    }

    .product__info img {
        margin: 0;
    }

    .remove__product p {
        border: 1px solid #ddd;
        background: #fafafb;
        font-size: 1.2rem;
        color: #9e9e9f;
        padding: 0 8px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }

    .remove__product button:active {
        opacity: 0.7;
    }

    .product__count i,
    .product__count p {
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        width: 24px;
        height: 24px;
        font-size: 1rem;
        text-align: center;
        line-height: 24px;
        color: #ccc;
        cursor: not-allowed;
    }

    .product__count i.active {
        color: #000;
        cursor: pointer;
    }

    .product__count i:active {
        opacity: 0.7;
    }

    .product__count p {
        margin: 0 4px;
        font-size: 1.3rem;
        background: #ddd;
        color: #000;
    }

    .product__total {
        font-weight: bold;
    }

    .product__total span {
        font-weight: initial;
    }

    .product__list {
        margin: 0;
    }

    .product__info:last-child {
        border: none;
    }

    .customer__info {
        border-top: 4px solid #e5e5e5;
        border-bottom: 4px solid #e5e5e5;
        margin: 0 -24px;
        padding: 12px 24px;
    }

    .detail__cart .title {
        font-weight: bold;
        padding-bottom: 8px;
        font-size: 1.4rem;
    }

    .customer__info input[type=radio] {
        margin-bottom: 16px;
    }

    .detail__cart .product__buy {
        position: initial;
        margin: 0;
        margin-top: 12px;
    }

    .cart__name {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>

<div class="grid wide p-t-24">
    <div class="user__cart">
        <div class="cart__title">
            <p>Giỏ hàng của bạn</p>
        </div>

        <div class="detail__cart">
            <div class="forsure">
                <form action="" method="post" id="user__form">
                    @if (detailOrder != null)
                    {
                        foreach (var detail in detailOrder)
                        {
                            <div class="product__list" style="padding-bottom: 16px;">
                                <input name="SP_Ma" value="@detail.ProductId" hidden>
                                <div class="row">
                                    <div class="h-2">
                                        <div class="forsure">
                                            <img src="@detail?.Product?.Images?.FirstOrDefault()"
                                                 style="width: 100px;" />
                                            <div class="remove__product text-center ma-t-12">
                                                <p>Xóa</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="h-7">
                                        <div class="p-l-12">
                                            <p class="cart__name">
                                                @detail?.Product.Name -
                                                @detail?.Product.Capacity?.Name -
                                                @detail?.Product.Color?.Name
                                            </p>
                                        </div>
                                    </div>

                                    <div class="h-3">
                                        <div class="row flex-column ali-end jus-between h-100">
                                            <div>
                                                <div class="product__price">
                                                    <p style="text-align: right">@($"{detail.Price:N0} đ")</p>
                                                </div>
                                                @if (detail.DiscountPrice != 0)
                                                {
                                                    <p style="font-size: 1.35rem; text-decoration: line-through; color: #8f8f8f; text-align: right">
                                                        @($"{detail.Price - @detail.DiscountPrice:N0} đ")
                                                    </p>
                                                }
                                            </div>

                                            <div class="forsure">
                                                <div class="row ali-center product__count">
                                                    <i class="fa-solid fa-minus active"></i>
                                                    <p>1</p>

                                                    <input name="SP_SOLUONG" value="@detail.Quantity" hidden>
                                                    <i class="fa-solid fa-plus active"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="customer__info">
                        <p class="title">Thông tin khách hàng</p>

                        <div class="forsure">
                            <div class="form__group">
                                <div class="row ali-center">
                                    <div class="h-3">
                                        <label class="gender__label relative">
                                            Anh
                                            <input type="radio" name="KH_GIOITINH" rule="required" value="True"
                                                class="form__control">
                                            <div class="checkbox"></div>
                                        </label>
                                    </div>
                                    <div class="h-3">
                                        <label class="gender__label relative">
                                            Chị
                                            <input type="radio" name="KH_GIOITINH" rule="required" value="False"
                                                class="form__control">
                                            <div class="checkbox"></div>
                                        </label>
                                    </div>
                                </div>

                                <span class="form__warning ma-t-8"></span>
                            </div>

                            <div class="row p-t-16">
                                <div class="h-6 p-r-16">
                                    <div class="form__group relative form__item">
                                        <label for="fullname">Họ và tên</label>
                                        <input type="text" name="KH_TEN" rule="required|fullname" id="fullname"
                                            class="form__control" placeholder="">
                                        <span class="form__warning"></span>
                                    </div>
                                </div>
                                <div class="h-6">
                                    <div class="form__group relative form__item">
                                        <label for="phone_number">Số điện thoại</label>
                                        <input type="text" name="KH_SDT" rule="required|phoneNumber" id="phone_number"
                                            class="form__control" placeholder="">
                                        <span class="form__warning"></span>
                                    </div>
                                </div>
                                <div class="h-12 p-t-16">
                                    <div class="form__group relative form__item ">
                                        <label for="address">Địa chỉ</label>
                                        <input type="text" nae="KH_DIACHI" rule="required" id="address"
                                            class="form__control" placeholder="">
                                        <span class="form__warning"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ali-center jus-between p-t-12">
                        <p class="product__total title">Tổng tiền<span>(0 sản phẩm):</span></p>

                        <div class="product__price products__price">
                            <p>0đ</p>
                            <input type="text" name="PX_TONGTIEN" value="0" hidden />
                        </div>
                    </div>

                    <div class="product__buy confirm-btn detail">
                        <button>Đặt hàng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var buyBtn = $(".product__buy.detail button");
    var name = $("input[name=KH_TEN]").get(0).value;
    var address = $("input[name=KH_DIACHI]").value;
    var phone = $("input[name=KH_SDT]").get(0).Value;

    buyBtn.click((e) => {
        window.location.href = "/Order/Create?name=" + name + "&address=" + address + "&phone=" + phone;
    });
</script>