@using Domain.DTOs;

@{
    ViewBag.Title = "ProductDetail";
    var product = ViewData["product"] as ProductDto;
}

<link href="~/css/product_detail.css" rel="stylesheet" />

<style>
    .comment__list {
        height: auto;
        max-height: 400px;
    }

    .product__image img {
        padding: 0 !important;
        width: 100%;
    }

    #content {
        height: auto;
        min-height: auto;
    }

    .product__detail {
        height: 75vh;
        overflow: auto;
    }

    #support {
        background: #fff;
    }

    .parent .child {
        display: block;
    }

    .parent.active .child {
        display: none;
    }
</style>

<div class="grid wide p-t-24">
    <div class="row product__container" style="padding-bottom: 94px;">
        <div class="h-5">
            <div class="product__image">
                <div id="carouselExampleIndicators" class="carousel slide relative" data-interval="false"
                    data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var image in @product.Images)
                        {
                            <div class="carousel-item">
                                <div class="row ali-center jus-center">
                                    <img src="@image" />
                                </div>
                            </div>
                        }
                    </div>

                    <ol class="carousel-indicators dot__list row jus-center ali-center p-t-16 p-l-16"
                        style="transform: initial; width: fit-content">
                        @for (int i = 0; i < @product.Images.Count; i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="dot__index ma-t-8 ma-b-8"
                                style="background: url('@product.Images[i]') center /cover no-repeat">
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>

        <div class="h-7 relative" style="padding-left: 40px;">
            <div>
                <p class="product__count" hidden>@(product.Quantity)</p>
                <p class="product_id" hidden data-id="@product.Id" />
                @if (product.Quantity == 0)
                {
                    <p class="sole_out"
                        style="font-size: 1.4rem; color: white; font-weight: 500; background: red; padding: 20px; border-radius: 5px ">
                        Hết hàng</p>
                }
                <h1 class="product__name">@product.Name @product.Capacity?.Name - @product.Color?.Name</h1>
                <div class="mt-3">
                    @if (product.Promotion != null)
                    {
                        <p class="old_price"
                            style="color: white; font-size: 1.6rem; text-decoration: line-through; font-weight: 500">
                            @($"{product.Price:N0} đ")</p>
                    }
                    <p class="product_price" style="color: white; font-size: 2.2rem; font-weight: 500;">
                        @($"{product.NewPrice:N0} đ")</p>
                </div>

                @if (product.Capacity != null)
                {
                    <div class="product__memory detail__part mt-3">
                        <p class="title" style="font-size: 1.5rem; color: white; font-weight: 500">Dung lượng:
                            @(product.Capacity?.Name)</p>
                    </div>
                }
                <div class="product__memory detail__part">
                    <p class="title" style="font-size: 1.5rem; color: white; font-weight: 500">Màu:
                        @(product.Color?.Name)</p>
                </div>

                <div class="product__memory detail__part m-b-3"
                    style="font-size: 1.5rem; color: white; font-weight: 500">
                    @if (product.Promotion != null)
                    {
                        <p>Chương trình khuyến mãi: @product.Promotion.Name</p>
                    }
                </div>

                <img src="~/image/hard_code.png" />
            </div>

            <div class="product__buy detail">
                <button>Mua ngay</button>
            </div>
        </div>
    </div>
</div>

<div id="support" style="padding-bottom: 120px;">
    <div class="grid wide">
        <div class="suggest-product">
            <h2 class="title">Phụ kiện nên có cho @(product.Name)</h2>
        </div>

        <div class="forsure" style="padding-top: 40px;">
            <div class="row ali-center jus-center" style="font-size: 2rem; font-weight: 500; padding-bottom: 20px">Thông
                số kỹ thuật</div>

            <div class="row ali-center jus-center flex-column" style="gap: 12px">
                @foreach (var specification in product.Specifications)
                {
                    <div style="width: 500px;" class="parent active">
                        <div class="row ali-center jus-between toggle"
                            style="background-color: #f5f5f7; padding: 16px 10px; border-radius: 5px; cursor: pointer;">
                            <p style="font-size: 1.6rem; font-weight: 500; color: #000">@specification.Name</p>
                            <img src="~/icon/ic_plus.png" class="icon" style="width: 20px;" />
                        </div>
                        <div class="child">
                            @foreach (var detail in specification.Details)
                            {
                                <div class="row ali-center jus-between"
                                    style="padding: 16px 8px; border-bottom: 1px solid #ddd;">
                                    <p style="font-size: 1.6rem; font-weight: 400; color: #000">@detail.Name</p>
                                    <p style="font-size: 1.6rem; font-weight: 400; color: #000">@detail.Description</p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    //product detail
    var productParameter = $(".product__parameter");
    var buyBtn = $(".product__buy.detail button");
    var productName = $(".product__name").first();
    var productPrice = $(".product_price");
    var oldPrice = $(".old_price");
    var productImage = $(".product__image img");
    var headerNotiy = $(".header__notify");
    var ImagecarouselItem = $(".product__image .carousel-item").first();
    var SuggestItem = $("#suggest-list .carousel-item").first();
    var memories = $(".product__memory li");
    var productLeft = $(".product__count");
    var userAccount = $(".user__account");
    var commentBlock = $(".product__comment");
    var userForm = $("#user__form").get(0);
    var commentText = $(".add-comment textarea").first();
    var addCommentBtn = $(".add-comment button");
    var userInfo = JSON.parse(localStorage.getItem("user_info"));
    var commentList = $(".comment__list").first();
    var userInfo = JSON.parse(localStorage.getItem("user_info")) || {};
    @* var form = new Validate(".form__comment"); *@
    var productList = $(".product__list").get(0);
    var formData;
    var productInfos = $(".product__info");
    var productStorages = $(".product__storage");
    var inputs = $("#user__form input[type='text']");
    var userName = $("#fullname").get(0);
    var userPhone = $("#phone_number").get(0);
    var userAddress = $("#address").get(0);
    var userGenderNam = $("#user__form input[name = KH_GIOITINH]").get(0);
    var userGenderNu = $("#user__form input[name = KH_GIOITINH]").get(1);
    var userDetail = JSON.parse(localStorage.getItem("user_info")) || {};
    var toggleCollapses = $(".toggle");

    Array.from(toggleCollapses).forEach(toggleCollapse => {
        toggleCollapse.addEventListener("click", e => {
            const parent = getParentElement(e.target, '.parent');
            const image = parent.querySelector(".icon");

            parent.classList.toggle("active");

            if (parent.classList.contains('active')) {
                image.src = "../../icon/ic_plus.png"
            }
            else {
                image.src = "../../icon/ic_minus.png"
            }
        });
    });

    if (Array.from(inputs).length > 0) {
        userName.addEventListener("input", (e) => {
            userDetail.name = userName.value;

            localStorage.setItem("user_info", JSON.stringify(userDetail));
        });

        userPhone.addEventListener("input", (e) => {
            userDetail.phone = userPhone.value;

            localStorage.setItem("user_info", JSON.stringify(userDetail));
        });

        userAddress ? userAddress.addEventListener("input", (e) => {
            userDetail.address = userAddress.value;

            localStorage.setItem("user_info", JSON.stringify(userDetail));
        }) : null;

        userGenderNam.addEventListener("input", (e) => {
            if (userGenderNam.checked) {
                userDetail.gender = "Nam";

                localStorage.setItem("user_info", JSON.stringify(userDetail));
            }
        });

        userGenderNu.addEventListener("input", (e) => {
            if (userGenderNu.checked) {
                userDetail.gender = "Nữ";

                localStorage.setItem("user_info", JSON.stringify(userDetail));
            }
        });

        if (Object.keys(userDetail).length > 0) {
            userDetail.gender === "Nam" && userDetail.gender ? userGenderNam.checked = true : userGenderNu.checked = true;
            userDetail.phone ? userPhone.value = userDetail.phone : userPhone.value = "";
            userDetail.name ? userName.value = userDetail.name : userName.value = "";
            userAddress ? userDetail.address ? userAddress.value = userDetail.address : userAddress.value = "" : null;
        }

        //=======================================================================
        Array.from(inputs).forEach(input => {
            input.addEventListener("click", (e) => {
                var parentInput = getParentElement(e.target, ".form__item");

                parentInput.classList.add("active");
                parentInput.classList.replace("non-active", "active");
            });

            input.addEventListener("blur", (e) => {
                var parentInput = getParentElement(e.target, ".form__item");
                var text = parentInput.querySelector("input").value;

                if (text.trim() == "") {
                    parentInput.classList.replace("active", "non-active");
                }
                else {
                    parentInput.classList.add("success");
                }
            });

            if (input.value !== "") {
                var parent = getParentElement(input, ".form__group");

                if (parent) {
                    parent.classList.add("active", "success");
                }
            }
        });
    }

    Array.from(productInfos).forEach(productInfo => {
        productInfo.addEventListener("click", e => {
            e.preventDefault();

            $.ajax({
                url: productInfo.dataset.link,
                success: function (result) {
                    $("#content").html(result);
                    document.documentElement.scrollTop = 0;
                }
            })
        });
    });

    Array.from(productStorages).forEach(productStorage => {
        productStorage.addEventListener("click", e => {
            e.preventDefault();

            $.ajax({
                url: productStorage.dataset.link,
                success: function (result) {
                    $("#content").html(result);
                    document.documentElement.scrollTop = 0;
                }
            })
        });
    })

    ImagecarouselItem.addClass("active");
    SuggestItem.addClass("active");

    Array.from(memories).forEach(memory => {
        var index = memory.dataset.index;
        var type = memory.dataset.type;

        memory.classList.add(index == type ? "active" : "non")
    });

    var productMemory = $(".product__memory li.active");
    var productId = $(".product_id");

    productParameter.click((e) => {
        if (e.target.closest(".arrow__list")) {
            document.querySelector(".product__parameter").classList.toggle("active");
        }
    });

    ////Lưu thông tin sản phẩm khách chọn
    buyBtn.click((e) => {
        var userCart = JSON.parse(localStorage.getItem("user_cart")) || [];

        var info = {
            "id": productId.data("id"),
            "name": productName.text() + " " + (productMemory.text() ? productMemory.text() : ""),
            "price": parseInt(DeleteCommas(productPrice.text())),
            "number": 1,
            "image": productImage.attr('src'),
            "oldPrice": oldPrice ? parseInt(DeleteCommas(oldPrice.text())) : 0
        };


        if (CheckProductExitst(userCart, info.name)) {
            userCart[GetIndex(userCart, info.name)].number = userCart[GetIndex(userCart, info.name)].number + 1;
        }
        else {
            userCart.push(info);
        }

        localStorage.setItem("user_cart", JSON.stringify(userCart));

        productCount.addClass("active");

        productCount.text(TotalProduct(userCart));
        headerNotiy.addClass("active");
        setTimeout(() => {
            headerNotiy.removeClass("active");
        }, 2000)
    });

    @* form.onSubmit = function (value) {
        formData = value;
        } *@

        commentList.scrollTop(commentList.prop("scrollHeight"));

    commentText.click(e => {
        commentBlock.removeClass("not-active").addClass("active");
    });

    $(".form__comment").submit((e) => {
        e.preventDefault();

        userInfo = JSON.parse(localStorage.getItem("user_info")) || {};

        if (commentText.val() !== "") {
            $.ajax({
                url: "/Store/AddComment",
                type: "get",
                data: $(".form__comment").serialize(),
                success: function (result) {
                    commentList.append(CreateCommentItem(userInfo, commentText.val()));
                    commentList.scrollTop(commentList.prop("scrollHeight"));
                    commentText.val("");
                }
            });
        }

        else {
        }
    });

    if (Object.keys(userInfo).length > 0) {
        userInfo.phone ? $(".add-comment input[name = KH_SDT]").val(userInfo.phone) : null;
        userInfo.name ? $(".add-comment input[name = KH_TEN]").val(userInfo.name) : null;

        userInfo.gender && userInfo.gender === "Nam" ? $(".add-comment input[name = KH_GIOITINH]").val("True") : $(".add-comment input[name = KH_GIOITINH]").val("False");
    }

    var commentListItem = $(".comment__item");

    Array.from(commentListItem).forEach(item => {
        if (item.querySelector(".admin-role")) {
            item.classList.add("answer");
        }
    });

    var answers = $(".comment__item.answer");

    Array.from(answers).forEach(answer => {
        var adminAnswers = answer.querySelectorAll(".admin-role");

        if (adminAnswers.length > 1) {
            answer.querySelector(".relationship").style.height = (82 * (adminAnswers.length - 1) + 50) + "px";
        }
    });
</script>